state_machine_config.json
{
    "Comment": "Dynamic ETL pipelines using Step function",
    "StartAt": "Set_Athena_Cluster",
    "States": {
        "Set_Athena_Cluster": {
            "Type": "Pass",
            "Result": {
                "cluster": "athena-runner",
                "service": "arn:aws:ecs:ap-southeast-2:462463595486:service/appnexus-batch-segment",
                "config": "/app/configs/appnexus-batch-segment-upload/prod.json"
            },
            "ResultPath": "$.info",
            "Next": "Spin_Up_Athena"
        },
        "Spin_Up_Athena": {
            "Type": "Task",
            "InputPath": "$.info",
            "Resource": "arn:aws:lambda:ap-southeast-2:462463595486:function:fargate-cluster-up",
            "Next": "Check_Athena_Cluster_Status"
        },
        "Check_Athena_Cluster_Status": {
            "Type": "Task",
            "InputPath": "$",
            "Resource": "arn:aws:lambda:ap-southeast-2:462463595486:function:state-change",
            "TimeoutSeconds": 15,
            "Next": "Athena Complete?"
        },
        "Athena Complete?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.number",
                    "NumericEquals": 1,
                    "Next": "wait_athena_to_complete"
                },
                {
                    "Variable": "$.number",
                    "NumericEquals": 0,
                    "Next": "wait_20_seconds_for_converter"
                }
            ],
            "Default": "Job Failed"
        },
        "wait_athena_to_complete": {
            "Type": "Wait",
            "Seconds": 60,
            "Next": "Check_Athena_Cluster_Status"
        },
        "wait_20_seconds_for_converter": {
            "Type": "Wait",
            "Seconds": 20,
            "Next": "Set_File_Converter"
        },
        "Set_File_Converter": {
            "Type": "Pass",
            "Result": {
                "cluster": "file-converter",
                "service": "arn:aws:ecs:ap-southeast-2:462463595486:service/appnexus-batch-segment",
                "config": "/app/configs/appnexus-batch-segment-upload/prod.json"
            },
            "ResultPath": "$.info",
            "Next": "Spin_Up_File_Converter"
        },
        "Spin_Up_File_Converter": {
            "Type": "Task",
            "InputPath": "$.info",
            "Resource": "arn:aws:lambda:ap-southeast-2:462463595486:function:fargate-cluster-up",
            "Next": "Check_File_Converter_Cluster_Status"
        },
        "Check_File_Converter_Cluster_Status": {
            "Type": "Task",
            "InputPath": "$",
            "Resource": "arn:aws:lambda:ap-southeast-2:462463595486:function:state-change",
            "TimeoutSeconds": 15,
            "Next": "File Converter Complete?"
        },
        "File Converter Complete?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.number",
                    "NumericEquals": 1,
                    "Next": "wait_file_converter_to_complete"
                },
                {
                    "Variable": "$.number",
                    "NumericEquals": 0,
                    "Next": "wait_20_seconds_for_appnexus_api"
                }
            ],
            "Default": "Job Failed"
        },
        "wait_file_converter_to_complete": {
            "Type": "Wait",
            "Seconds": 60,
            "Next": "Check_File_Converter_Cluster_Status"
        },
        "wait_20_seconds_for_appnexus_api": {
            "Type": "Wait",
            "Seconds": 20,
            "Next": "Set_Appnexus_API"
        },
        "Set_Appnexus_API": {
            "Type": "Pass",
            "Result": {
                "cluster": "appnexus-api",
                "service": "arn:aws:ecs:ap-southeast-2:462463595486:service/appnexus-batch-segment",
                "config": "/config/prod.json"
            },
            "ResultPath": "$.info",
            "Next": "Spin_Up_Appnexus_API"
        },
        "Spin_Up_Appnexus_API": {
            "Type": "Task",
            "InputPath": "$.info",
            "Resource": "arn:aws:lambda:ap-southeast-2:462463595486:function:fargate-cluster-up",
            "End": true
        },
        "Job Failed": {
            "Type": "Fail",
            "Cause": "AWS Transcribe Job Failed",
            "Error": "DescribeJob returned FAILED"
        }
    }
}